---
layout: default
---
<div class="post">
  <article>
    <div style="text-align: center; margin-top: 2rem;">
      <a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url }}" class="btn btn-primary" target="_blank">
        <i class="fas fa-file-pdf"></i> Download CV
      </a>
    </div>
  </article>
</div>
